#Node.js and Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Generated minified files
script-builder/*.min.js
script-builder/*.min.css
